.list-items {
  display: flex;
  align-items: center;
  height: inherit;
  }

.list-items .item {
  list-style: none;
  cursor: pointer;
  margin-right: 15px;
}

.list-items a {
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  color: red;
}

.list-items a.active {
  color: #fff
}

.item a {
  display: inline-block;
  padding: 30px 30px 30px 0;
}

.nav {
}
